body {
    background-color: #F2F2F0
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flex-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
}

.flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}

.flex-vert {
}

/* ------- NAVBAR CONTACT --------- */
h2 {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    color: #3E92A3;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    font-weight:700;
    font-size: 0.875em;
    letter-spacing: 0.25em;
    color: #3E92A3;
    text-align: center;
    margin: 1em
}

h4{
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif
    margin:0 0 0 10px;
}

h5 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    font-weight:700;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #3E92A3;
    text-align: center;
    margin: 1em;
    text-transform:uppercase;
}

h6 {
    color:#6B7986;
    font-weight: 700;
    padding-left:2em;
    margin-bottom:0;
    line-height:1.5em;
}

.name {
    padding-top:24px;
    width:100%;
    background-color: #F2F2F0;
    text-align:center;
}

.btn {
    padding: 0 1rem;
}

.social {
    display: block;
    padding: 0;
    position: relative;
    fill:#5CB7DC;
}

svg {
    -webkit-transition: all .2s;
    transition: all .2s;
    display:block;
}

svg:hover {
    -webkit-filter: drop-shadow( 0px 4px 8px #CCC);
    filter: drop-shadow( 0px 4px 8px #CCC );
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all .2s;
    transition: all .2s
}
/* -------- END NAVBAR CONTACT --------- */

/* -------- GRID ------- */
.container {
    position: relative;
    width: 960px;
    margin: 1em auto;
    padding: 0 20px;
}

@media (max-width: 400px) {
    .container {
        width: 95%;
        padding: 0;
    }
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0; 
    }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
    padding: 0 2%;
    }
}

.column {
    box-sizing: border-box;
    width:48%;
    padding:0.5em;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@media (max-width: 550px) {
    .column {
        width:100%;
    }
}

.left {
    float: left;
    min-width:400px;
}

.right {
    float: right;
    min-width:200px;
}

/* ------- CARDS ------- */
.card {
    width:100%;
    height:100%;
    background-color:#fff;

    border-radius:4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    font-size:12px;
}

.card p {
    padding: 0 2em 0 2em;
    line-height:1.5em;
}

.card p:first-of-type {
    padding: 1em 2em 0.5em 2em;
}

.card p:last-of-type {
    padding: 0 2em 2em 2em;
    line-height:1.5em;
}

.card ul:first-of-type {
    margin-top: 1em
}

.card ul {
    margin-bottom: 1em
}

.card li {
    color:#6B7986;
    font-size:0.9em;
    font-weight: 700;
    line-height:1.5em;
    margin:0 1em;
    list-style:none;
    text-align:left;
}

.card-title {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 0.5em 0;
    width:100%;
    position:relative;
    top:0px;
    border-radius: 4px 4px 0px 0px;
    
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    font-size:1em;
    font-weight:300;
    color:#FFF;
    text-align:center;
    text-transform: none;
}

.about {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: linear-gradient(-180deg, #72C4D0 0%, #3E92A3 100%);
    border: 1px solid #3E92A3;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1), 
                0 2px 4px rgba(0, 0, 0, .1), 
                inset 0px -1px 1px 0px #48A9BD, 
                inset 0px 1px 0px 0px #7AD1DE;
}
/* -------- END CARDS ------- */


.skills {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

    width: 100%;
    background-color: #F2F2F0;
    position: relative;
    top: 0px;

    font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
    font-weight:100;
    font-size: 4vh;
    color: #B5B5B3;
    text-align:center;
} 

.top {
    padding:0 10%;
    width:80%;
}

.skill {
    margin:0.5em;
}

.skills-text {
    display:inline;
    margin:0.5em;
    letter-spacing: 0.15em;
}

/*@media (max-width:40em) {
    .flex-grid-item {
        -webkit-flex-basis: calc(50% - 10rem);
        -ms-flex-preferred-size: calc(50% - 10rem);
        flex-basis: calc(50% - 10rem);
        max-width: calc(50% - 10rem)
    }
}*/
@media (max-width:70em) {
    .flex-grid-item {
        -webkit-flex-basis: calc(100% - 2rem);
        -ms-flex-preferred-size: calc(100% - 2rem);
        flex-basis: 50%;
        max-width: 50%
    }
}

@media (min-width:70em) {
    .flex-grid-item {
        -webkit-flex-basis: calc(50% - 2rem);
        -ms-flex-preferred-size: calc(50% - 2rem);
        flex-basis: 33%;
        max-width: 33%
    }
}

/*@media (min-width:52em) {
    .flex-grid-item {
        -webkit-flex-basis: calc(33% - 2rem);
        -ms-flex-preferred-size: calc(33% - 2rem);
        flex-basis: calc(33% - 2rem);
        max-width: calc(33% - 2rem)
    }
}*/

/*@media (min-width:64em) {
    .flex-grid-item {
        -webkit-flex-basis: calc(25% - 2rem);
        -ms-flex-preferred-size: calc(25% - 2rem);
        flex-basis: calc(25% - 2rem);
        max-width: calc(25% - 2rem)
    }
}*/
/* 
    background-image - lighter-gradient darker-gradient
    border - darker gradient
    inset1 (bottom) - border+10s
    inset2 (top) - lighter-gradient+5s
*/

.development {
    background-image: linear-gradient(-180deg, #F48477 0%, #E54D42 100%);
    border: 1px solid #E54D42;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1), 
                0 2px 4px rgba(0, 0, 0, .1), 
                inset 0px -1px 1px 0px #E67870,
                inset 0px 1px 0px 0px #FF8A7D;
}

.design {
    background-image: linear-gradient(-180deg, #5CB7DC 0%, #2F81B7 100%);
    border: 1px solid #2F81B7;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.1), 
                0px 2px 4px 0px rgba(0, 0, 0, 0.1), 
                inset 0px -1px 1px 0px #3693D1, 
                inset 0px 1px 0px 0px #61C2E8;
}

.marketing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: linear-gradient(-180deg, #FFC84F 0%, #FD9727 100%);
    border: 1px solid #FD9727;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.1), 
                0px 2px 4px 0px rgba(0, 0, 0, 0.1), 
                inset 0px -1px 1px 0px #FCAD58, 
                inset 0px 1px 0px 0px #FFD782;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}